.git
.github
.next
node_modules
**/node_modules
**/bin
**/obj
**/appsettings.Development.json
**/*.pfx
**/*.pem
**/*.key
coverage
playwright-report
test-results
*.user
*.suo
.env
.env.*
!.env.example
